/*0709-gwl*/
@charset "utf-8";
.nav30-bar{ width: 1280px; height: 35px; margin-top: 50px; border-bottom: 1px solid #d3d3d3; position: relative; }
.nav30-bar .nav30-column{ width: 100%; height: 35px; position: absolute; left: 0; bottom: 1px; }
.nav30-bar .nav30-column li{ display: inline-block; height: 35px; line-height: 35px; float: left; margin-right: 45px; position: relative; }
.nav30-bar .nav30-column li.sel-curcolor{ border-bottom: 3px solid #ff7f00; }
.nav30-bar .nav30-column li a{ font-size: 22px; color: #000; }
.nav30-bar .nav30-column li em.qipao{ width: 10px; height: 10px; border: 1px solid #e83829; background-color: #e83829; border-radius: 10px; position: absolute; right: -12px; top: 0; }
.nav30-bar .nav30-column li em.qipao1{ width: 20px; height: 20px; line-height: 20px; text-align: center; border-radius: 20px; right: -25px; top: 6px; color: #fff; font-size: 12px; font-style: normal; }

/*gwl upd 0714 top nav*/
.nodisplay{ display: none; }
.header-v4 { background: #fff; position: fixed; height: 93px; width: 100%; z-index: 888;top:0; }
.header-v4 .header-container{ width: 100%; padding-bottom: 9px; background: #fff; position: fixed; top: 0; border-bottom: 1px solid #c2c2c2;}
.header-v4 .logo{ height: 73px; line-height: 73px; font-size: 18px; margin-left: 9px; margin-top: 10px; width: 395px; float: left; }


.header-v4 .logo a{ color: #fff; display: inline-block; width: 91px; height: 53px; background: url("../img/logo.png") no-repeat 0 0; background-size: 100% 100%;margin-top:13px;outline:none;}
.header-v4 .logon-shuline{ display: inline-block; width: 1px; height: 28px; margin: 0 16px; background-color: #c3c3c3; position: relative; top: -10px; }
.header-v4 .toptit-cont{ display: inline-block; width: 200px; height: 65px; line-height: 65px; font-size: 26px; position: relative; top: -15px;font-weight: normal;color:#000;}
/*top right cont*/
.burger-p{display: none; cursor: pointer; z-index: 1000; position: fixed; right: 10px; top: 35px;}
.burger{ -moz-transform: translate3d(0, -9999em, 0); -o-transform: translate3d(0, -9999em, 0); -ms-transform: translate3d(0, -9999em, 0); -webkit-transform: translate3d(0, -9999em, 0); transform: translate3d(0, -9999em, 0);outline:none;}
.fl-icon-panel{ display: none; background: #fff; position: fixed; height: 93px; width: 100%; z-index: 888; left: 0; top: 0; }
.fl-icon{display: none;cursor: pointer; z-index: 1000; position: fixed; right: 25px; top: 30px;width: 34px;height: 34px;background: url(../img/v3-022.png) no-repeat 0 0;background-size: 100%;}
.zb-icon{ display: none;cursor: pointer; z-index: 1000; position: fixed; right: 10px; top: 22px; width: 76px; height: 32px; text-align: right; font-size: 1em;}
.zb-icon span{ display: inline-block; width: 16px; height: 16px; margin-left: 5px; background: url(../img/zb-plicon.png) no-repeat 0 0; background-size: 100%; position: relative; top: 3px; }
.zt-icon-p{ display: none; cursor: pointer; z-index: 1000; position: fixed; right: 25px; top: 34px; width: 34px; height: 34px; background: url(../img/v3-021.png) no-repeat 0 0; background-size: 100%; }
.right-cont{ display: none; cursor: pointer; z-index: 1000; position: fixed; right: 20px; top: 34px; width: 48%; height: 35px; text-align: right; }
.right-cont a{color: #333;font-size: 2em;font-weight: bold;}
.right-img{ display: none; cursor: pointer; z-index: 1000; position: fixed; right: 20px; top: 32px; width: 165px; height: 30px; line-height: 30px; font-size: 1.6em; text-align: center; color: #fff; /*background: url(../img/69af2a96ebf648ea8582872f21b85301.gif); */background-color: #01a5ec; }

.burger.opaque { -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0); transform:translate3d(0,0,0); }
.burger div { background:#333; height:4px; width:40px; margin-bottom:10px; -webkit-backface-visibility:hidden; -moz-transform:translateZ(0); -o-transform:translateZ(0); -ms-transform:translateZ(0); -webkit-transform:translateZ(0); transform:translateZ(0); }
.burger div:first-of-type, .burger div:last-of-type { -webkit-transition:-webkit-transform .3s ease .0s,background-color 0ms ease-out; -moz-transition:-moz-transform .3s ease .0s,background-color 0ms ease-out; -ms-transition:-ms-transform .3s ease .0s,background-color 0ms ease-out; -o-transition:-o-transform .3s ease .0s,background-color 0ms ease-out; transition:transform .3s ease .0s,background-color 0ms ease-out; position:relative; }
.burger.transform div:first-of-type, .burger.transform div:last-of-type { -webkit-transition:-webkit-transform .4s ease .3s,background-color 250ms ease-in; -moz-transition:-moz-transform .4s ease .3s,background-color 250ms ease-in; -ms-transition:-ms-transform .4s ease .3s,background-color 250ms ease-in; -o-transition:-o-transform .4s ease .3s,background-color 250ms ease-in; transition:transform .4s ease .3s,background-color 250ms ease-in; background:#333; }
.burger.transform div:first-of-type { -ms-transform:rotate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); -o-transform:rotate(45deg); top:12px; }
.burger.transform div:nth-child(2) { display:none; }
.burger.transform div:last-of-type { transform:rotate(-45deg); -ms-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); top:-2px; }
.sy-downward { display: none; z-index:999; position:fixed; left:0; top: 83px; overflow:hidden; width:100%; padding-top:9%;height:auto;}
.user-view-info { overflow: hidden; background:#3e3e46; margin: 25px 4% 0;height:68px;}
.sections-list-big li { float:left; width:48%; margin:0 1%; padding:8px 0; text-align:center; font-size:14px; background-color: #00a5eb; }
.sections-list-big li a { color:#fff; text-decoration:none; white-space:nowrap; font-size: 16px; }
.sections-list-big li a span{ position: relative; top: 3px;font-size: 1.1em;}
.sections-list-big li a span:hover{color: #00a5eb;color: #fff;}
.sections-list-big li a i { display:inline-block; height:26px; width:26px; margin-right: 7px; vertical-align:middle; background-image:url(../img/login_info401.png); background-repeat:no-repeat; background-size:100%; }
.sections-list-big li a.serch i { background-image:url(../img/v3-029.png); }
.sections-list-big li a.logined i { background-position: 0 -41px; }
.cont-list{ width: 100%; overflow: hidden; background-color: #4a4a53; }
.sections-list{ width: 96%; overflow: hidden; margin:0 6%;}
.sections-list li{ width: 24%; height: 30px; float: left; line-height: 30px; border: 1px solid #535363; text-align: center; display: inline-block; margin-right: 8.6%; margin-bottom: 15px; }
.sections-list li a{ color: #b4b4b4; text-decoration: none; white-space: nowrap; font-size: 1.2em; }
.sections-list li a:hover{color: #00a5eb;}
.sections-list li:hover{color: #00a5eb;}
.sections-panel{ width: 100%; overflow: hidden; background-color: #3e3e46; border-top: 1px solid #4a4a53; margin-bottom: 15px; }
.sections-nav{ margin: 0 4% 0 6%;overflow:hidden; }
.sections-nav li{ width: 25%; height: 50px;line-height: 50px; color: #b4b4b4; float: left;cursor: pointer;text-align: center;position: relative;font-size: 1em;margin-left:-2px;}
.sections-nav li em{ display: block; width: 1px; height: 16px; background-color: #4a4a53; position: absolute; top: 12px; }
.sections-nav li em.tabline-rg{right: 0;}
.sections-nav li em.tabline-lf{left: 0;}
.sections-nav li.cur-state{ background-color: #4a4a53; color: #00a5eb; }
.sections-nav li span{cursor: pointer;text-align: center;display: block;}
.upv30-icon{ /*transform:rotate(-45deg); -ms-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); width: 10px; height: 10px; background-color: #3e3e46; */width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #3e3e46; position: absolute; right: 30px; top: 0;z-index: 1000;display:none;}
.sy-downward-cont,.sy-downward-flcont{position: absolute;left: 0;top: 10px;background-color: #3e3e46;width: 100%;overflow: hidden;z-index: 1000;height:100%;}
.sy-downward-sort{ display: none; }
.bg-opacity30{ display: none; width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: #000; opacity: .7; filter:alpha(Opacity=70);z-index: 666;}
.sy-downward-flcont ul.sort-cont{ margin-top: 20px; overflow: hidden; margin-left: 9%; }
.sy-downward-flcont ul.opr-nav{ width: 87.5%; overflow:hidden; margin: 15px auto 20px; }
.sy-downward-flcont ul.opr-nav li{ display: inline-block; width: 44%; margin-left: 3%; height: 30px; line-height: 30px; color: #333; background-color: #b4b4b4; cursor: pointer;font-size:1.3em; text-align:center;}
.sy-downward-flcont ul.opr-nav li span{ display: inline-block; width: 14px; height: 20px; margin:0 5px 0 0; position: relative; top: 5px; }
.sy-downward-flcont ul.opr-nav li.rm{}
.sy-downward-flcont ul.opr-nav li.zx{margin-left:4%;width:46%;}

.sy-downward-flcont ul.opr-nav li.rm span{ background: url(../img/v3-010.png) no-repeat 0 0; background-size: 100%; }
.sy-downward-flcont ul.opr-nav li.zx span{ width: 21px; height: 21px; background: url(../img/v3-012.png) no-repeat 0 0; background-size: 100%; }

.sy-downward-flcont ul.opr-nav li.rm-cur span{ background: url(../img/v3-025.png) no-repeat 0 0; background-size: 100%; }
.sy-downward-flcont ul.opr-nav li.zx-cur span{ width: 21px; height: 21px; background: url(../img/v3-026.png) no-repeat 0 0; background-size: 100%; }

.sy-downward-flcont span.retract-up{ display: block; width: 32px; height: 10px; margin: 7% auto 5%; background: url(../img/retract-up.png) no-repeat 0 0; cursor: pointer; background-size: auto 10px;}
.sy-downward-flcont ul.sort-cont li{ display: inline-block; width: 25%; height: 45px; text-align: center; margin-right:6%; margin-bottom: 3%; border: 1px solid #54545f; box-shadow: inset 1px 0 #44444c; }
.sy-downward-flcont ul.sort-cont li span{ display: block; color: #b4b4b4; text-align: center; }
.sy-downward-flcont ul.sort-cont li span.c1{ font-size: 2em; padding-top: 3%; /*letter-spacing: 5px;*/ margin-left: 5px; }
.sy-downward-flcont ul.sort-cont li span.c2{ font-size: 1em; }

.article-panel{ width: 40%; overflow: hidden; margin: 0 auto; }
.article-panel span{ display: block; margin-top: 60%; margin-bottom: 25%; height: 25px; line-height: 25px; color: #342b28; font-size: 1.4em; text-align: center; }
.article-panel a{ display: block; width: 100%; height: 35px; line-height: 35px; color: #fff; text-align: center; background-color: #27aaee; border-radius: 5px; font-size: 1.4em; margin-top: 25%; margin-bottom: 60%; }


@media  screen and (min-width:320px) {
	.header-v4{ height: 55px; }
	.header-v4 .logo{ height: 45px; margin-top: 0; }
	.header-v4 .logo a{ width: 45px; height: 27px;vertical-align:top;}
	
	.burger div{ width: 20px; height: 3px; margin-bottom: 4px; }
	.burger.transform div:first-of-type{ top: 6px; }
	.sy-downward{ top: 44px; }
	.burger-p{top: 19px;}
	.upv30-icon{ border-left: 7px solid transparent; border-right: 7px solid transparent; right: 18px; top: 2px; }
	.sections-list-big li a i{ width:21px; height: 21px; }
	.sections-list-big li a.logined i{ background-position: 0 -22px; }
	.sections-list-big li{ padding: 5px 0; }
	.sections-list-big li a{ font-size: 1em; line-height: 1.2em; }
	.user-view-info{ margin: 12px 4% 0; height:50px; }
	.sections-nav li{ height: 38px; line-height: 38px; font-size: 15px; }
	.sections-list li a{ font-size: 15px; }
	.sections-list li{ margin-bottom: 10px; }
	.channeltab-panel{ height: 45px; }
	.channel_tab a{ height: 45px; line-height: 45px; font-size: 1.6em; }
	.line-bg{ display: inline-block; width: 1px; height: 14px; background-color: #bcbcbe; color: #bcbcbe; position: absolute; right: 0; top: 17px; }
	.img_t{ width: 81px; min-height: 81px; }
	.news_tit02{ margin-bottom: 10px; height: 60px; }
	.news_tit02 p a{ height: 60px; }
	.sections-nav li em{ top: 12px; }
	.t_news{ padding: 15px 0; }
	.txt_t{ height: 80px; }
	.hotask_t{ margin-top: 17px; }
	.header-v4 .logo a{  margin-top: 13px;}
	.header-v4 .toptit-cont{ height: 35px; line-height: 35px; font-size: 16px; top: -9px; margin-left: -5px; }
	.header-v4 .logon-shuline{ top: -6px; height: 18px; margin: 0 8px;}
	.fl-icon{ width: 17px; height: 17px; top: 20px; right: 12px; }
	.upv30-icon-pos{ right: 14px; }
	.zb-icon{ top: 16px; right: 10px; font-size: 1em; }
	.zb-icon span{ width: 16px; height: 16px; }
	.zt-icon-p{ right: 12px; top: 18px; width: 22px; height: 22px; }
	.right-cont{right: 12px;top: 18px;}
	.right-cont a{font-size: 1.6em;}
	.burger.transform div:last-of-type{top:-1px;}
	.sy-downward-flcont ul.sort-cont li{height: 45px;}
	.sy-downward-flcont span.retract-up{ margin: 5% auto 5%;}
	.right-img{ right: 10px; top: 16px; width: 123px; height: 25px; line-height: 25px; font-size: 1.2em; }
	.sy-downward-flcont ul.sort-cont li span.c1{font-size: 20px;margin-top: 6%;}
	.sy-downward-flcont ul.sort-cont li span.c2{font-size: 10px;margin-top: 3%;}
	.sections-list-big li a span{font-size: 1.2em;}

}
@media  screen and (min-width:375px){
	.sy-downward-flcont ul.sort-cont li{height: 50px;}
}
@media  screen and (min-width:640px) {
	.header-v4{ height: 93px; }
	.header-v4 .logo{ height: 73px; margin-top: 10px; }
	.header-v4 .logo a{ width: 91px; height: 53px; }
	
	.burger div{ width: 40px; height: 6px; margin-bottom: 8px; }
	.burger.transform div:first-of-type{ top: 12px; }
	.sy-downward{ top: 83px; }
	.burger-p{top: 30px;}
	.upv30-icon{ border-left: 10px solid transparent; border-right: 10px solid transparent; right: 30px; top: 0; }
	.sections-list-big li a i{ width:26px; height: 27px; }
	.sections-list-big li a.logined i{ background-position: 0 -27px; }
	.sections-list-big li{ padding: 8px 0; }
	.sections-list-big li a{ font-size: 1.4em; }
	.user-view-info{ margin: 25px 4% 0; height:68px; }
	.sections-nav li{ height: 50px; line-height: 50px; font-size: 1.4em; }
	.sections-list li a{ font-size: 1.4em; }
	.sections-list li{ margin-bottom: 15px; }
	.channeltab-panel{ height: 80px; }
	.channel_tab a{ height: 80px; line-height: 80px; font-size: 2em; }
	.line-bg{ display: inline-block; width: 1px; height: 25px; background-color: #bcbcbe; color: #bcbcbe; position: absolute; right: 0; top: 29px; }
	.img_t{ width: 162px; min-height: 162px; }
	.news_tit02{ margin-bottom: 91px; }
	.sections-nav li em{ top: 17px; }
	.t_news{ padding: 30px 0; }
	.txt_t{ height: 163px; }
	.hotask_t{ margin-top: 17px; }
	.header-v4 .logo a{ margin-top: 9px;}
	.header-v4 .toptit-cont{ height: 65px; line-height: 65px; font-size: 26px; top: 5px; }
	.header-v4 .logon-shuline{ top: 10px; height: 28px; margin: 0 16px;}
	.fl-icon{ width: 34px; height: 34px; right: 23px; top: 30px; }
	.zb-icon{ top: 28px; right: 15px; font-size: 2.2em; }
	.zb-icon span{ width: 30px; height: 30px; }
	.zt-icon-p{ right: 25px; top: 30px; width: 34px; height: 34px; }
	.right-cont{right: 20px;top: 32px;}
	.right-cont a{font-size: 2em;}
	.burger.transform div:last-of-type{top:-2px;}
	.sy-downward-flcont span.retract-up{ margin: 7% auto 10%;}
	.right-img{ right: 20px; top: 32px; width: 165px; height: 30px; line-height: 30px; font-size: 1.6em; }
	.sy-downward-flcont ul.sort-cont li span.c1{margin-top: 1%;}
	.sy-downward-flcont ul.sort-cont li span.c2{margin-top: 1%;}
	.sections-list-big li a span{font-size: 1em;}
}